*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {

    font-family: 'Press Start 2P', cursive;
}

Header, Nav, Article, div, footer
{
    padding: 10px;
    
    border: 1px solid gray;
    text-align: center;

}

header
{
   width: 100%;

}

footer
{
   width: 100%;
   clear: both;

}

Nav
{
    width: 20%;
    height: 200px;
    float: left;

}

article
{
    background-image: url(/CS100_IntermediateHTMLCSS_Lab/Lab1/bg1.jfif);
    background-size: 100%;
    width: 60%;
    height: 200px;
    float: left;

}

div
{
    width: 20%;
    height: 200px;
    float: left;

}